
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #f2f2f2;
  color: #333;
}


nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: black;
  padding: 15px 40px;
}

.logo {
  color: gold;
  font-size: 1.5em;
  font-weight: 700;
}

.logo span {
  color: white;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: gold;
  font-weight: 500;
  transition: 0.3s;
}

nav ul li a:hover {
  color: white;
}


.contact {
  background: white;
  width: 90%;
  max-width: 500px;
  margin: 50px auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

.contact h2 {
  text-align: center;
  color: black;
  margin-bottom: 10px;
}

.contact p {
  text-align: center;
  color: #555;
  margin-bottom: 25px;
}


form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  font-weight: 600;
}

input, textarea {
  padding: 10px;
  margin-bottom: 15px;
  border: 2px solid #ccc;
  border-radius: 6px;
  transition: 0.3s;
}

input:focus, textarea:focus {
  border-color: gold;
  outline: none;
}

button {
  background: gold;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  padding: 10px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: black;
  color: gold;
}


footer {
  text-align: center;
  background: black;
  color: gold;
  padding: 15px;
  position: fixed;
  width: 100%;
  bottom: 0;
}
